Package: python3-bills
Source: bills
Version: 1.0-1
Architecture: all
Maintainer: Maclinunix <maxlinunix@gmail.com>
Installed-Size: 27
Depends: python3:any
Section: python
Priority: optional
Description: Setup a bills list, DEB package
 # BILLS
 Bills is a small DEB package that can be used to create a bills list.
 .
 ## Installation
 .
 $ dpkg -i package
 .
 ## Usage
 .
 Use to create a list of of your bills.
 .
 ## License
 .
 EZ BILLS is release under the MIT license. See LICENSE for details.
 .
 ## Contact
 .
 Email me at maclinunix@gmail.com
